@import url("https://use.typekit.net/glt4fmn.css");

body{
  font-family: poppins, sans-serif;
  font-weight: 300;
  overflow-wrap: break-word !important;
  font-size: 1.05rem;
}

p{
  line-height: 1.8rem;
}

h1, h2, h3, h4, .site-title{
  font-family: acumin-pro, sans-serif !important;
}

h2{
  font-size: 2.3rem;
}

h3, h2{
  margin: 1rem 0 1rem 0;
}

h5{
  font-size: unset;
  margin: 1rem 0 1rem 0;
}

img{
  vertical-align: bottom;
}

li{
  line-height: 1.8rem;
  margin: 0.5rem 0 0.5rem 0;
}

a{
  text-decoration: none;
  color: #04AEE7;
}

a:focus{
  outline: none;
}

a:hover{
  color: #04AEE7;
}

footer{
  margin-top: 5rem;
  padding-bottom: 2.5rem;
}